Data Load

In [14]:
import pandas as pd

In [15]:
df_old = pd.read_csv(r'Extracted Phrases\Rake NLTK\Brandbank Bulk Phrase Extraction.csv')
df_old

                                     Phrase  Score  Length      Perc    Count
0                                  contains  46090       1  1.043119  12159.0
1                                      free  27964       1  0.632888  15608.0
2                               may contain  27856       2  0.630443     53.0
3                                  suitable  26888       1  0.608535   3089.0
4                                     sugar  25511       1  0.577371   7473.0
...                                     ...    ...     ...       ...      ...
500458                  best fighting units      1       3  0.000023      1.0
500459  piers morgan unbranded piers morgan      1       5  0.000023      1.0
500460         extremely perilous christmas      1       3  0.000023      1.0
500461                    trifles unbranded      1       2  0.000023      1.0
500462                holly smale unbranded      1       3  0.000023      1.0

[500463 rows x 5 columns]

In [16]:
df_new = pd.read_csv(r'Extracted Phrases\Rake NLTK\Brandbank Latest Phrase Extraction.csv')
df_new

                                   Phrase  Score  Length      Perc    Count
0                                contains  15105       1  0.958989  15590.0
1                             may contain  11107       2  0.705163   5629.0
2                                suitable   9701       1  0.615899  11927.0
3                                    salt   9394       1  0.596408  10831.0
4                                   sugar   9198       1  0.583964  11257.0
...                                   ...    ...     ...       ...      ...
369215  carrageenan ), potassium chloride      1       4  0.000063      1.0
369216                 minnie riperton 12      1       3  0.000063      1.0
369217      ammonium bicarbonates ), salt      1       4  0.000063      1.0
369218          xanthan gum ), colourants      1       4  0.000063      1.0
369219                               """"      1       1  0.000063      1.0

[369220 rows x 5 columns]

Find New Key Phrases

In [17]:
list(set(df_new['Phrase']) - set(df_old['Phrase']))

[]

Compare existing Phrases

In [18]:
df_combined = df_new.merge(df_old, on='Phrase', how='left')
df_combined

,Phrase,Score_x,Length_x,Perc_x,Count_x,Score_y,Length_y,Perc_y,Count_y
0,contains,15105,1,0.958989,15590.0,46090,1,1.043119,12159.0
1,may contain,11107,2,0.705163,5629.0,27856,2,0.630443,53.0
2,suitable,9701,1,0.615899,11927.0,26888,1,0.608535,3089.0
3,salt,9394,1,0.596408,10831.0,25509,1,0.577325,3613.0
4,sugar,9198,1,0.583964,11257.0,25511,1,0.577371,7473.0
...,...,...,...,...,...,...,...,...,...
369215,"carrageenan ), potassium chloride",1,4,0.000063,1.0,1,4,0.000023,1.0
369216,minnie riperton 12,1,3,0.000063,1.0,1,3,0.000023,1.0
369217,"ammonium bicarbonates ), salt",1,4,0.000063,1.0,1,4,0.000023,1.0
369218,"xanthan gum ), colourants",1,4,0.000063,1.0,1,4,0.000023,1.0
369219,"""""""""",1,1,0.000063,1.0,3,1,0.000068,3.0

In [19]:
df_combined = df_combined.rename(columns={'Perc_x': 'Score_Frequency_x', 
                                            'Perc_y': 'Score_Frequency_y'},
                                            )

In [20]:
def get_perc_increase(row):
    return ((row['Score_Frequency_x']-row['Score_Frequency_y'])/row['Score_Frequency_y'])*100

def get_score_increase(row):
    return ((row['Score_x']-row['Score_y'])/row['Score_y'])*100

def get_count_frequency_increase_x(row,sum):
    return (row['Count_x']/sum*100)

def get_count_frequency_increase_y(row,sum):
    return (row['Count_y']/sum*100)

def get_count_increase(row):
    if row['Count_Frequency_y'] !=0:
        return ((row['Count_Frequency_x']-row['Count_Frequency_y'])/row['Count_Frequency_y'])*100
    else:
        return 0

In [21]:
sum = df_combined['Count_x'].sum()
df_combined['Count_Frequency_x'] = df_combined.apply (lambda row: get_count_frequency_increase_x(row,sum), axis=1)
df_combined['Count_Frequency_y'] = df_combined.apply (lambda row: get_count_frequency_increase_y(row,sum), axis=1)
df_combined['Count_Frequency_Increase'] = df_combined.apply (lambda row: get_count_increase(row), axis=1)

In [22]:
df_combined['Score_Frequency_increase'] = df_combined.apply (lambda row: get_perc_increase(row), axis=1)

In [23]:
df_combined

,Phrase,Score_x,Length_x,Score_Frequency_x,Count_x,Score_y,Length_y,Score_Frequency_y,Count_y,Count_Frequency_x,Count_Frequency_y,Count_Frequency_Increase,Score_Frequency_increase
0,contains,15105,1,0.958989,15590.0,46090,1,1.043119,12159.0,0.163602,0.127597,28.217781,-8.065310
1,may contain,11107,2,0.705163,5629.0,27856,2,0.630443,53.0,0.059071,0.000556,10520.754717,11.851912
2,suitable,9701,1,0.615899,11927.0,26888,1,0.608535,3089.0,0.125162,0.032416,286.112010,1.209994
3,salt,9394,1,0.596408,10831.0,25509,1,0.577325,3613.0,0.113661,0.037915,199.778577,3.305279
4,sugar,9198,1,0.583964,11257.0,25511,1,0.577371,7473.0,0.118131,0.078422,50.635622,1.141948
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369215,"carrageenan ), potassium chloride",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009
369216,minnie riperton 12,1,3,0.000063,1.0,1,3,0.000023,1.0,0.000010,0.000010,0.000000,180.521009
369217,"ammonium bicarbonates ), salt",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009
369218,"xanthan gum ), colourants",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009
369219,"""""""""",1,1,0.000063,1.0,3,1,0.000068,3.0,0.000010,0.000031,-66.666667,-6.492997

In [24]:
df_combined['Score_increase'] = df_combined.apply (lambda row: get_score_increase(row), axis=1)

In [25]:
df_combined

,Phrase,Score_x,Length_x,Score_Frequency_x,Count_x,Score_y,Length_y,Score_Frequency_y,Count_y,Count_Frequency_x,Count_Frequency_y,Count_Frequency_Increase,Score_Frequency_increase,Score_increase
0,contains,15105,1,0.958989,15590.0,46090,1,1.043119,12159.0,0.163602,0.127597,28.217781,-8.065310,-67.227164
1,may contain,11107,2,0.705163,5629.0,27856,2,0.630443,53.0,0.059071,0.000556,10520.754717,11.851912,-60.127082
2,suitable,9701,1,0.615899,11927.0,26888,1,0.608535,3089.0,0.125162,0.032416,286.112010,1.209994,-63.920708
3,salt,9394,1,0.596408,10831.0,25509,1,0.577325,3613.0,0.113661,0.037915,199.778577,3.305279,-63.173782
4,sugar,9198,1,0.583964,11257.0,25511,1,0.577371,7473.0,0.118131,0.078422,50.635622,1.141948,-63.944965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369215,"carrageenan ), potassium chloride",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009,0.000000
369216,minnie riperton 12,1,3,0.000063,1.0,1,3,0.000023,1.0,0.000010,0.000010,0.000000,180.521009,0.000000
369217,"ammonium bicarbonates ), salt",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009,0.000000
369218,"xanthan gum ), colourants",1,4,0.000063,1.0,1,4,0.000023,1.0,0.000010,0.000010,0.000000,180.521009,0.000000
369219,"""""""""",1,1,0.000063,1.0,3,1,0.000068,3.0,0.000010,0.000031,-66.666667,-6.492997,-66.666667

In [26]:
df_combined.to_csv(r'Extracted Phrases\Rake NLTK\Phrase Comparison.csv')