Data Load

In [10]:
import pandas as pd

In [11]:
df_old = pd.read_csv(r'Extracted Phrases\Rake NLTK\Brandbank Bulk.csv')
df_old

                                     Phrase  Score  Length      Perc
0                                  contains  46090       1  1.043119
1                                      free  27964       1  0.632888
2                               may contain  27856       2  0.630443
3                                  suitable  26888       1  0.608535
4                                     sugar  25511       1  0.577371
...                                     ...    ...     ...       ...
500458                  best fighting units      1       3  0.000023
500459  piers morgan unbranded piers morgan      1       5  0.000023
500460         extremely perilous christmas      1       3  0.000023
500461                    trifles unbranded      1       2  0.000023
500462                holly smale unbranded      1       3  0.000023

[500463 rows x 4 columns]

In [3]:
df_new = pd.read_csv(r'Extracted Phrases\Rake NLTK\Brandbank Latest Phrase Extraction.csv')
df_new

                                   Phrase  Score  Length      Perc
0                                contains  15105       1  0.958989
1                             may contain  11107       2  0.705163
2                                suitable   9701       1  0.615899
3                                    salt   9394       1  0.596408
4                                   sugar   9198       1  0.583964
...                                   ...    ...     ...       ...
369215  carrageenan ), potassium chloride      1       4  0.000063
369216                 minnie riperton 12      1       3  0.000063
369217      ammonium bicarbonates ), salt      1       4  0.000063
369218          xanthan gum ), colourants      1       4  0.000063
369219                               """"      1       1  0.000063

[369220 rows x 4 columns]

Find New Key Phrases

In [4]:
list(set(df_new['Phrase']) - set(df_old['Phrase']))

[]

Compare existing Phrases

In [5]:
df_combined = df_new.merge(df_old, on='Phrase', how='left')
df_combined

,Phrase,Score_x,Length_x,Perc_x,Score_y,Length_y,Perc_y
0,contains,15105,1,0.958989,46090,1,1.043119
1,may contain,11107,2,0.705163,27856,2,0.630443
2,suitable,9701,1,0.615899,26888,1,0.608535
3,salt,9394,1,0.596408,25509,1,0.577325
4,sugar,9198,1,0.583964,25511,1,0.577371
...,...,...,...,...,...,...,...
369215,"carrageenan ), potassium chloride",1,4,0.000063,1,4,0.000023
369216,minnie riperton 12,1,3,0.000063,1,3,0.000023
369217,"ammonium bicarbonates ), salt",1,4,0.000063,1,4,0.000023
369218,"xanthan gum ), colourants",1,4,0.000063,1,4,0.000023
369219,"""""""""",1,1,0.000063,3,1,0.000068

In [6]:
def get_perc_increase(row):
    return ((row['Perc_x']-row['Perc_y'])/row['Perc_y'])*100

def get_score_increase(row):
    return ((row['Score_x']-row['Score_y'])/row['Score_y'])*100

In [7]:
df_combined['Perc_increase'] = df_combined.apply (lambda row: get_perc_increase(row), axis=1)

In [8]:
df_combined['Score_increase'] = df_combined.apply (lambda row: get_score_increase(row), axis=1)

In [9]:
df_combined

,Phrase,Score_x,Length_x,Perc_x,Score_y,Length_y,Perc_y,Perc_increase,Score_increase
0,contains,15105,1,0.958989,46090,1,1.043119,-8.065310,-67.227164
1,may contain,11107,2,0.705163,27856,2,0.630443,11.851912,-60.127082
2,suitable,9701,1,0.615899,26888,1,0.608535,1.209994,-63.920708
3,salt,9394,1,0.596408,25509,1,0.577325,3.305279,-63.173782
4,sugar,9198,1,0.583964,25511,1,0.577371,1.141948,-63.944965
...,...,...,...,...,...,...,...,...,...
369215,"carrageenan ), potassium chloride",1,4,0.000063,1,4,0.000023,180.521009,0.000000
369216,minnie riperton 12,1,3,0.000063,1,3,0.000023,180.521009,0.000000
369217,"ammonium bicarbonates ), salt",1,4,0.000063,1,4,0.000023,180.521009,0.000000
369218,"xanthan gum ), colourants",1,4,0.000063,1,4,0.000023,180.521009,0.000000
369219,"""""""""",1,1,0.000063,3,1,0.000068,-6.492997,-66.666667

In [ ]:
df_combined.to_csv(r'Extracted Phrases\Rake NLTK\Phrase Comparison.csv')